<div class="cadastro" class="col">
  <h2>Cadastro</h2>
  <form>
    <div class="formgroup-inline">
      <div class="row g-3">
        <div class="col">
          <label for="">Produto</label>
          <input
            type="text"
            class="form-control"
            placeholder="Produto"
            aria-label="Produto"
          />
        </div>
        <div class="col">
          <label for="">Id</label>
          <input
            type="text"
            class="form-control"
            placeholder="Id"
            aria-label="Id"
          />
        </div>
        <div class="row mb-3 text-center">
          <label for="email" class="label">Quantidade</label>
          <input
            type="number"
            class="form-control"
            placeholder="Quantidade"
            aria-label="Quantidade"
          />
        </div>
        <div class="row mb-3 text-center">
          <label for="Email" class="label">Email</label>
          <input
            type="Email"
            class="form-control"
            placeholder="Email"
            aria-label="Email"
          />
        </div>
      </div>
    </div>
  </form>
</div>
